---
layout: workshop      # DON'T CHANGE THIS.
root: .               # DON'T CHANGE THIS.
venue: "RBC 3202"     
address: "School of Global Policy & Strategy La Jolla, CA 92093"  
latlng: "32.883975,-117.241035"
humandate: "Monday and Wednesday"
humantime: "11:00 ~ 12:20" 
startdate: 2016-03-28     
enddate: 2016-06-15 
instructor: ["Prof. Roger Bohn"] 
helper: ["Hyeonsu Kang"]     
ProfEmail: "rbohn@ucsd.edu"
TAEmail: "hyk149@eng.ucsd.edu"    
---

<h2 id="general"></h2>
  This course is about analyzing large amounts of quantitative data. The usual goal will be to make a set of decisions. Some terms you may run into include:
  <ul>
    <li>Data mining</li>
    <li>Business analytics, Business intelligence</li>
    <li>Machine learning</li>
    <li>Artificial intelligence</li>
    <li>Big Data</li>
    <li>Specific techniques, such as Classification Trees, Neural Networks, Naive Bayesian, Random Forests, State Vector Machines, and many others.</li>
  </ul>
<p>

<p id="who">
  <strong>Who should take this course?</strong>
  This course is for students who want to understand how to use new analytic concepts, often referred to as &ldquo;data mining&rdquo; or &ldquo;big data,&rdquo; to understand and solve problems. The problem
  domain will be mainly business, with some public health and other non-monetary issues. The course is about the entire cycle of problem solving, from selecting the problem to presenting the results in an understandable way, and putting them into action. Business problems will include
  web analytics, marketing, operations, etc.
  <br>
  Language and prerequisites: We will use primarily the R language, a computer language designed for statistical computing. Applying data mining methods, understanding their strengths/weaknesses, and using the results will be emphasized over statistical theory and computer science. A good background in statistics is required, especially a thorough understanding of classical least squares regression. Therefore IRCO 454 or equivalent are a prerequisite. You also need some background in computer programming/number crunching, sufficient to figure out R using the many on-line classes, videos, and guides. (Some are mentioned later in this syllabus.)
  Programming is a perverse art, requiring constant inquisitiveness, a healthy amount of paranoia, and willingness to experiment.
</p>

{% if page.latlng %}
<p id="where">
  <strong>Where:</strong>
  {{page.venue}} at {{page.address}}.
  Get directions with
  <a href="//www.openstreetmap.org/?mlat={{page.latlng | replace:',','&mlon='}}&zoom=16">OpenStreetMap</a>
  or
  <a href="//maps.google.com/maps?q={{page.latlng}}">Google Maps</a>.
</p>
{% endif %}

<p id="requirements">
  <strong>Requirements and Grading</strong> 
  Grades are based on several kinds of work.
  <ul>
    <li>Problem sets (20 to 30% of grade)</li>
    <li>Short assignments (20 to 30% of grade)</li>
    <li>Build your own code notes</li>
    <li>Final project (50% to 60% of grade)</li>
  </ul>
</p>

<p id="contact">
  <strong>Contact</strong>:
  Please mail Prof. Bohn at 
  <a href='mailto:{{page.ProfEmail}}'>{{page.ProfEmail}}</a>
  and the TA at
  <a href='mailto:{{page.TAEmail}}'>{{page.TAEmail}}</a>
  for more information.
</p>

<hr/>

<h2 id="schedule">Schedule</h2>
<p>
  Here is an approximate schedule. Normally, <strong>problem sets are due on Sunday</strong>. Mondays will be used for lectures, and Wednesdays will introduce new methods. Daily assignments will be posted on Ted. The final column shows deliverables for the projects. <strong>A project memorandum is due each Wednesday</strong> starting January 13. These memos won’t always be returned; keep working, regardless. 
</p>

<div class="row">
  <div class="col-md-12">
    <table class="table table-striped">
      <tr>
        <th>Week</th>
        <th>Dates</th>
        <th>Topic</th>
        <th>Project Assignments</th>
      </tr>
      <tr>
        <td>1</td>
        <td>March 28, 30, April 4</td>
        <td>Introduction; looking at typical applications. Classification and Regression Trees</td>
        <td></td>
      </tr>
      <tr>
        <td>2</td>
        <td>April 6, 11</td>
        <td>Measuring performance of data mining methods: Confusion/error
matrix, lift curves, etc.</td>
        <td>Hand in URLs / descriptions of some data sets you are considering for your project</td>
      </tr>
      <tr>
        <td>3</td>
        <td>April 13, 18</td>
        <td>Logistic regression, parsimony, LASSO. Why is &ldquo;non-linear&rdquo; so important?</td>
        <td>Project proposal: first version</td>
      </tr>
      <tr>
        <td>4</td>
        <td>April 20, 25</td>
        <td>The first and last stages of analysis. Google Flu and other
failures. Data transformation, choosing variables. How DM compares with classical statistics</td>
        <td>Be sure you can load some data. Provide descriptive statistics</td>
      </tr>
      <tr>
        <td>5</td>
        <td>April 27, May 2</td>
        <td>Decision trees, random forests and boosting. Exploratory EDA methods</td>
        <td>Final project proposal, including specific questions, discussion of variables, relevant literature</td>
      </tr>
      <tr>
        <td>6</td>
        <td>May 4, 9</td>
        <td>Text mining</td>
        <td>Exploratory data analysis</td>
      </tr>
      <tr>
        <td>7</td>
        <td>May 11, 16</td>
        <td>Text mining</td>
        <td>Initial data mining results</td>
      </tr>
      <tr>
        <td>8</td>
        <td>May 18, 23</td>
        <td>Learning by controlled experiments (A/B trials)</td>
        <td>Draft paper</td>
      </tr>
      <tr>
        <td>9</td>
        <td>May 25</td>
        <td>Problems with big data. Loose ends</td>
        <td>Detailed analytic results</td>
      </tr>
      <tr>
        <td>10</td>
        <td>May 30, June 1</td>
        <td>Presentations and final drafts</td>
        <td>Hand in view-graph version</td>
      </tr>
      <tr>
        <td>11</td>
        <td></td>
        <td>Final projects due. No final exam</td>
        <td>Final papers DUE</td>
      </tr>  
    </table>
  </div>
</div>

{% if page.etherpad %}
<p id="etherpad">
  <strong>Etherpad:</strong> <a href="{{page.etherpad}}">{{page.etherpad}}</a>.
  <br/>
  We will use this Etherpad for chatting, taking notes, and sharing URLs and bits of code.
</p>
{% endif %}

<hr/>

<!--
  SYLLABUS

  Show what topics will be covered.

  1. If your workshop is R rather than Python, remove the comment
     around that section and put a comment around the Python section.
  2. Some workshops will delete SQL.
  3. Please make sure the list of topics is synchronized with what you
     intend to teach.
  4. You may need to move the div's with class="col-md-6" around inside
     the div's with class="row" to balance the multi-column layout.

  This is one of the places where people frequently make mistakes, so
  please preview your site before committing, and make sure to run
  'tools/check' as well.
-->
<h2 id="syllabus">Syllabus</h2>
<p>The Syllabus can be found <a href="">here</a></p>

<div class="row">
  <div class="col-md-6">
    <h3 id="syllabus-shell"></h3>
    <ul>
      <li>Files and directories</li>
      <li>History and tab completion</li>
      <li>Pipes and redirection</li>
      <li>Looping over files</li>
      <li>Creating and running shell scripts</li>
      <li>Finding things</li>
      <li><a href="{{site.swc_githubio}}/shell-novice/reference.html">Reference...</a></li>
    </ul>
  </div>
</div>

<hr/>

<h2 id="setup">Rattle Setup</h2>
<p>
  To participate in a Software Carpentry workshop, you will need access to the software described below. In addition, you will need an up-to-date web browser.
</p>
<p>
  We maintain a list of common issues that occur during installation as a reference for instructors
  that may be useful on the
  <a href = "https://github.com/swcarpentry/workshop-template/wiki/Configuration-Problems-and-Solutions">Configuration Problems and Solutions wiki page</a>.
</p>

<div id="r"> <!-- Start of 'R' section. -->
  <h3>R</h3>
  <p>
    <a href="http://www.r-project.org">R</a> is a programming language
    that is especially powerful for data exploration, visualization, and
    statistical analysis. To interact with R, we use
    <a href="http://www.rstudio.com/">RStudio</a>.
  </p>
  <div class="row">
    <div class="col-md-4">
      <h4 id="r-windows">Windows</h4>
      <p>
        Install R by downloading and running
        <a href="http://cran.r-project.org/bin/windows/base/release.htm">this .exe file</a>
        from <a href="http://cran.r-project.org/index.html">CRAN</a>.
        Also, please install the
        <a href="http://www.rstudio.com/ide/download/desktop">RStudio IDE</a>.
      </p>
    </div>
    <div class="col-md-4">
      <h4 id="r-macosx">Mac OS X</h4>
      <p>
        Install R by downloading and running
        <a href="http://cran.r-project.org/bin/macosx/R-latest.pkg">this .pkg file</a>
        from <a href="http://cran.r-project.org/index.html">CRAN</a>.
        Also, please install the
        <a href="http://www.rstudio.com/ide/download/desktop">RStudio IDE</a>.
      </p>
    </div>
    <div class="col-md-4">
      <h4 id="r-linux">Linux</h4>
      <p>
        You can download the binary files for your distribution
        from <a href="http://cran.r-project.org/index.html">CRAN</a>. Or
        you can use your package manager (e.g. for Debian/Ubuntu
        run <code>sudo apt-get install r-base</code> and for Fedora run
        <code>sudo yum install R</code>).  Also, please install the
        <a href="http://www.rstudio.com/ide/download/desktop">RStudio IDE</a>.
      </p>
    </div>
  </div>
</div> <!-- End of 'R' section. -->

<small>This course website template was adapted from <a href="https://github.com/swcarpentry/workshop-template">Software Carpentry&apos;s website</a></small>